In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df70 = pd.read_excel('WDI 1970-2017 Annual Data.xlsx')

In [4]:
df70.head(1)

,Country Name,CountryCode_ISO Numeric,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,1,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Melt date columns to rows

In [5]:
df= df70.melt(id_vars=['Country Name','Indicator Name','CountryCode_ISO Numeric','Indicator Code'], var_name='Date', value_name='Value')
df.Date= pd.to_datetime(df.Date)
df.set_index(['Country Name', 'Date'], inplace=True)
df.head(3)

                                                            Indicator Name  \
Country Name Date
Afghanistan  1970-01-01  2005 PPP conversion factor, GDP (LCU per inter...
             1970-01-01            Access to electricity (% of population)
             1970-01-01  Account ownership at a financial institution o...

                         CountryCode_ISO Numeric  Indicator Code  Value
Country Name Date
Afghanistan  1970-01-01                        1   PA.NUS.PPP.05    NaN
             1970-01-01                        1  EG.ELC.ACCS.ZS    NaN
             1970-01-01                        1  FX.OWN.TOTL.ZS    NaN

# Search for data in column by string

In [6]:
df[df['Indicator Name'].str.contains('consumption')].head(3)

                                                            Indicator Name  \
Country Name Date
Afghanistan  1970-01-01        Electric power consumption (kWh per capita)
             1970-01-01        Fossil fuel energy consumption (% of total)
             1970-01-01  Households and NPISHs final consumption expend...

                         CountryCode_ISO Numeric     Indicator Code      Value
Country Name Date
Afghanistan  1970-01-01                        1  EG.USE.ELEC.KH.PC        NaN
             1970-01-01                        1  EG.USE.COMM.FO.ZS        NaN
             1970-01-01                        1     NE.CON.PRVT.ZS  96.696319

# Search for specific indicator

In [7]:
df= df.sort_index(0)
df.loc[df['Indicator Code']=='NE.CON.PRVT.ZS'].head(5)

                                                            Indicator Name  \
Country Name Date
Afghanistan  1970-01-01  Households and NPISHs final consumption expend...
             1971-01-01  Households and NPISHs final consumption expend...
             1972-01-01  Households and NPISHs final consumption expend...
             1973-01-01  Households and NPISHs final consumption expend...
             1974-01-01  Households and NPISHs final consumption expend...

                         CountryCode_ISO Numeric  Indicator Code      Value
Country Name Date
Afghanistan  1970-01-01                        1  NE.CON.PRVT.ZS  96.696319
             1971-01-01                        1  NE.CON.PRVT.ZS  99.757272
             1972-01-01                        1  NE.CON.PRVT.ZS  96.796665
             1973-01-01                        1  NE.CON.PRVT.ZS  94.487183
             1974-01-01                        1  NE.CON.PRVT.ZS  92.061859

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2177664 entries, ('Afghanistan', Timestamp('1970-01-01 00:00:00')) to ('Zimbabwe', Timestamp('2017-01-01 00:00:00'))
Data columns (total 4 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Indicator Name           object
 1   CountryCode_ISO Numeric  int64
 2   Indicator Code           object
 3   Value                    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 72.7+ MB